body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.6em;
}

h4{
    font-size: 1.4em;
    margin: 20px;
}

span{
    font-size: 1em;
}

label{
    font-size: 1em;
}


/* Menu */

#nav{
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 100vh;
    border-right: 15px solid #00AE9F;
    margin: 0;
    padding: 0;
}


.flex-colum{
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0em -3em 30px 4px #b4b4b4;
    border-bottom: 1px solid #868686;
    cursor: pointer;
    filter: grayscale(120%) brightness(120%) opacity(60%);
}

.flex-colum img{
    height: 90px;
    margin: 0;
    padding: 0;  
    
}

.flex-colum h3{
    color: #00AE9F;
    margin: 10px 0 0 0;
    text-decoration: none;
}

a{
    text-decoration: none;
    list-style: none;
}

.selected{     
    box-shadow: 0px 0px;  
    filter: grayscale(0%);
    box-shadow: inset 0em -1em 30px 4px #cecece;
    border: 1px solid #dadada;
   
}

.selected h3{  
    color: #12867d;
}

.static-logo{
    height: 14vh;
    text-align: center;
    
}

.static-logo img{
    height: 100px;


}
.page{
    background-color: rgb(255, 255, 255);
    width: 78%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}


.navTop{
    background-color: #EFEFEF;
    width: 900px;
    height: 60px;
    display: flex;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 1px 2px 4px 2px #ccc;
    text-align: center;    
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.navTop img{
    width: 40px;
    height: 40px;
    margin: auto 0;
    
    
}

.navTop h3{    
    width: auto;
}

.disponivel{
    color: #868686; 
}

.titulo-color{
    color: #006DAE;
}


/* Submenu */

.medidor-submenu {
    position: absolute;
    top: 35%; 
    left: 20vw; 
    width: 200px;
    height: 140px;
    background-color: #00AE9F;
    z-index: 1000;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }

  .medidor-submenu h3{
    margin: 2px auto;
    
  }


/* Dashboard */

#TPC{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 20px 10px 20px;
}

.dash_box{
    width: 466px;
    min-height: 260px;
    background-color: #f0f0f0;
    border-radius: 30px;
    text-align: center;
}

.dash_box h4{
    color: #006DAE;

}

#protecao img{
    height: 120px;
}

#frequencia span{
    font-size: 90px;
    color: #00AE9F;
    font-weight: 700;

}

#progressBar {
    width: 300px;
    height: 60px;
    background-color: #CCC;
    position: relative;
    margin: 0 auto;
    border: 10px solid #fff;
    border-radius: 10px;
}
#progressBar #bar{
   position: absolute;
   height: 100%;
   background-color: #00AE9F;
   animation: progress-animation 5s infinite;
}

@keyframes progress-animation{
    0% { width: 0%; } 
    100% { width: 100%}
}

#fatorPotencia span{
    font-size: 70px;
    color: #00AE9F;
    font-weight: 700;

}


#PFF{ 
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

#totalEnergy{
    width: auto;
    height: 240px;
    margin: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 30px;
    text-align: center;
    
}

#totalEnergy h4{
    color: #006DAE;
}

#powerParameters{
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.boxEnergy{ 
    width: 22%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.boxEnergy span{
    font-size: 20px; 
    font-weight: 600;
    color: #006DAE; 
}
.boxEnergy label{
    font-size: 70px; 
    color: #00AE9F; 
    font-weight: 600;
}


/* Medidor */

.box_medidor{
    width: 99%;
    height: auto;
    border: 1px solid #024D80;
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}

.figura_medidor{
    width: 25%;
    display: flex;
    flex-direction: column;
    
}

.figura_medidor img{
    width: 180px;
    margin: auto auto;
   
}

.img_medidor_dados{
    width: 100%;
    height: 60px;
    border-top: 1px solid #024D80;
}

.dados_medidor{    
    width: 75%;
    padding: 0;
    margin: 0;
}

.dados_tensao,
.dados_corrente{
    display: flex;
    flex-direction: column;
}


.titulo_tensao,
.titulo_corrente{
    background-color:#006DAE;
    border: 1px solid #024D80;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}


.titulo_tensao h3,
.titulo_corrente h3{
    margin: 4px 0;
    
}


.body_tensao,
.body_corrente{
    display: flex;
}

.cores_tensao,
.cores_corrente{
    display: flex;
    flex-direction: column;
    justify-content:first baseline;

}

.cor{    
    border: 1px solid #024D80;
    padding: 10px;
   
}

#verde{
    background-color: #007F00;
    width: 57px;
    height: 33px;
}

#azul{
    background-color:#00BFFF;
    width: 57px;
    height: 33px;
}

#vermelho{
    background-color: #DB0000;
    width: 57px;
    height: 33px;
}

.tensao,
.corrente{
    background-color: #006DAE; 
    color: #fff;
}

.tensao h3,
.corrente h3{   
    font-size: 1em;

}

#tensao_r,
#tensao_s,
#tensao_t{
    width: 100px;
    height: 33px;
    border: 1px solid #024D80;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#corrente_r,
#corrente_s,
#corrente_t{
    width: 100px;
    height: 33px;
    border: 1px solid #024D80;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.medicoes_eletricas{
    width: 99%;
    height: auto;
    border: 1px solid #024D80;
}

.titulo_medicoes{
    background-color:#006DAE;
    border: 1px solid #024D80;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    margin: 0;
    padding: 0;

}

.titulo_medicoes h3{
    margin: 0;
}

.body_medicoes{    
    width: 100%;
}

.medicoes{
    width: 97%;
    height: auto;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

.me_corrente{
    width: 30%;
    height: auto;
    border: 1px solid #024D80;
    
}


.dados_me{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dados_me h3{
    width: 50%;;
}

.row{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0;
    margin: 0;
    /* border: 1px solid #024D80; */
    display: flex;
    text-align: center;
    

}

.row-large{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0;
    margin: 0;
    /* border: 1px solid #024D80; */
    display: flex;
    text-align: center;
}

.row-large h3{ 
    margin: 0;
    background-color: #006DAE;
    border: 1px solid #024D80;
    min-width: 70px;
    min-height: 33px;
    color: #fff;
    font-size: 1.5em;
}

.row h3{
    margin:0;
    background-color: #006DAE;
    border: 1px solid #024D80;
    min-width: 70px;
    min-height: 33px;
    font-size: 1.5em;
    color: #fff;
    padding: 0;

}

.dados{
    width:100%;
    border: 1px solid #024D80;
    text-align: center;
    color: #333;
    font-size: 1.4em;
    font-weight: 600;
}


.me_tensao{
    width: 64%;
    height: auto;
    margin: 0 20px;
    border: 1px solid #024D80;    
}


.me_energiaTotal{
    width: 30%;
    height: auto;

   
}


.me_potencia{
    width: 64%;
    height: auto;
    margin: 0 20px;
    border: 1px solid #024D80;
}


.fator_potencia,
.frequencia{
    width: 40%;
    height: auto;
    display: flex; 
    justify-content: center;
    margin-right: 20px;
}

.fator_potencia h3,
.frequencia h3{
    margin:0;
    background-color: #006DAE;
    border: 1px solid #024D80;
    width: 90%;
    min-height: 33px;
    font-size: 1.5em;
    color: #fff;
    padding: 0;
    text-align: center;
}

.justify-content{
    justify-content: space-between;
}


/* PMT */

#body_pmt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#body_pmt img{
    height: 700px;
}


/* Historico */

#body_historico,
#body_alarmes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#body_historico button,
#body_alarmes button{
    background: linear-gradient(to left, #00AE9F, #01c7b6) ;
    border: 5px solid #006DAE;
    width: auto;
    height: 70px;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 600;
}

.dados_historico,
.dados_alarmes{
    border: 1px solid #00AE9F;
    width: 90%;
    height: 80%;
}









